.slide-vertical-enter-active,
.slide-vertical-leave-active {
  transition: all 0.2s;
}
.slide-vertical-enter,
.slide-vertical-leave-to {
  transform: translateY(-5px);
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
