@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-body;

    font-size: 16px;
    word-spacing: 1px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
